<div class="p-news-list">
    <div class="p-news-list__items">
        <div class="p-news-list__item">
            <%- include('./_p-news') %>
        </div>
        <div class="p-news-list__item">
            <%- include('./_p-news-long') %>
        </div>
        <div class="p-news-list__item">
            <%- include('./_p-news') %>
        </div>
        <div class="p-news-list__item">
            <%- include('./_p-news') %>
        </div>
        <div class="p-news-list__item">
            <%- include('./_p-news') %>
        </div>
        <div class="p-news-list__item">
            <%- include('./_p-news') %>
        </div>
        <div class="p-news-list__item">
            <%- include('./_p-news') %>
        </div>
        <div class="p-news-list__item">
            <%- include('./_p-news') %>
        </div>
        <div class="p-news-list__item">
            <%- include('./_p-news') %>
        </div>
        <div class="p-news-list__item">
            <%- include('./_p-news') %>
        </div>
    </div>
</div>