<div class="p-sub-blog">
    <div class="p-sub-blog__inner l-inner">
        <div class="p-sub-blog__body">
            <div class="p-sub-blog__card">
                <%- include('./_p-blog-card') %>
            </div>
            <div class="p-sub-blog__card">
                <%- include('./_p-blog-card') %>
            </div>
            <div class="p-sub-blog__card">
                <%- include('./_p-blog-card') %>
            </div>
            <div class="p-sub-blog__card">
                <%- include('./_p-blog-card') %>
            </div>
            <div class="p-sub-blog__card">
                <%- include('./_p-blog-card') %>
            </div>
            <div class="p-sub-blog__card">
                <%- include('./_p-blog-card') %>
            </div>
            <div class="p-sub-blog__card">
                <%- include('./_p-blog-card') %>
            </div>
            <div class="p-sub-blog__card">
                <%- include('./_p-blog-card') %>
            </div>
            <div class="p-sub-blog__card">
                <%- include('./_p-blog-card') %>
            </div>
        </div>
    </div>
  </div>