<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body>
    <%- include('./common/_p-header') %>
    <%- include('./parts/component/_c-subHero',{subHeroTitle:'企業概要'}) %>

    <div class="l-breadcrumb">
      <%- include('./parts/component/_c-breadcrumb',{pagetitle:'企業概要', posttitle:''}) %>
    </div>

    <div class="l-overview">
      <%- include('./parts/project/_p-overview') %>
    </div>

    <div class="l-google-map">
      <%- include('./parts/component/_c-google-map') %>
    </div>

    <section class="l-contact">
      <%- include('./parts/project/_p-contact') %>
    </section>

    <%- include('./common/_p-footer') %>

  </body>
</html>